language: node_js
os: linux
dist: xenial
node_js:
  - 14

script: npm run test

before_deploy:
  - sh package.sh

deploy:
  - provider: releases
    skip_cleanup: true
    name: "$TRAVIS_TAG"
    api_key: $GITHUB_TOKEN
    file: dist/pos.js
    on:
      tags: true
      repo: TransbankDevelopers/transbank-pos-sdk-nodejs
  - provider: npm
    skip_cleanup: true
    email: transbankdevelopers@continuum.cl
    api_token: $NPM_TOKEN
    on:
      tags: true
      repo: TransbankDevelopers/transbank-pos-sdk-nodejs
